---
layout: default
---

<div class="about">
  <section class="about-container">
    <h3>About Me</h3>
    {{ content }}

    <div>
    </div>
  </section>

  <section class="timeline-container">
    <h3>Background</h3>
    <div class="timeline">
      <div class="timeline-entry">
        <div class="timeline-entry-year">
          <h4>2013 - 2015</h4>
        </div>
        <div class="timeline-entry-content">
          <h5>Taught 8th Grade Math</h5>
        </div>
      </div>

      <div class="timeline-entry">
        <div class="timeline-entry-year">
          <h4>2015 - 2016</h4>
        </div>
        <div class="timeline-entry-content">
          <h5>Stanford</h5>
        </div>
      </div>

      <div class="timeline-entry">
        <div class="timeline-entry-year">
          <h4>2016 - Present</h4>
        </div>
        <div class="timeline-entry-content">
          <h5>App Academy</h5>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="projects-container">
    <h3>Projects</h3>

  </section> -->
</div>
