---
layout: default
---

<div class="about">
  <section class="about-container">
    <h3>About Me</h3>

    <p>Hi! I'm Josh, and I love building things and teaching people.</p>

    <p>
      I'm a software engineer at
      <a href="https://appacademy.io">App Academy</a>.
    </p>
    <div></div>
  </section>

  <section class="timeline-container">
    <h3>Background</h3>
    <div class="timeline">
      <div class="timeline-entry">
        <div class="timeline-entry-year-container">
          <h4 class="timeline-entry-year timeline-entry-year-longhorns">
            2009 - 2013
          </h4>
        </div>
        <div class="timeline-entry-content">
          <h5>BBA in Finance at The University of Texas</h5>
        </div>
      </div>

      <div class="timeline-entry">
        <div class="timeline-entry-year-container">
          <h4 class="timeline-entry-year">2013 - 2015</h4>
        </div>
        <div class="timeline-entry-content">
          <h5>8th Grade Math Teacher at Uplift Mighty (Ft Worth, TX)</h5>
        </div>
      </div>

      <div class="timeline-entry">
        <div class="timeline-entry-year-container">
          <h4 class="timeline-entry-year timeline-entry-year-stanford">
            2015 - 2016
          </h4>
        </div>
        <div class="timeline-entry-content">
          <h5>Master's in Education at Stanford University</h5>
        </div>
      </div>

      <div class="timeline-entry">
        <div class="timeline-entry-year-container">
          <h4 class="timeline-entry-year">2016 - 2017</h4>
        </div>
        <div class="timeline-entry-content">
          <h5>Instructor at App Academy</h5>
        </div>
      </div>

      <div class="timeline-entry">
        <div class="timeline-entry-year-container">
          <h4 class="timeline-entry-year">2018 - Present</h4>
        </div>
        <div class="timeline-entry-content">
          <h5>Software Engineer at App Academy</h5>
        </div>
      </div>
    </div>
  </section>

  <!-- <section class="projects-container">
    <h3>Projects</h3>

  </section> -->
</div>
